@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  font-family: 'Varela Round', sans-serif; }

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Adjust column widths as needed */
  grid-gap: 0;
}

.main-container {
  grid-column: 2 ; /* Place the main container in columns 2 and 3 */
  padding: 20px; /* Add padding to the main container */
  margin-left: 60px; /* Push the main container to the right, leaving space for the nav bar */
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}
