@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  font-family: 'Varela Round', sans-serif; }

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Adjust column widths as needed */
  grid-gap: 0;
}

.main-container {

}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

a {
  color: blue;
}